/* RESET DE ESTILOS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

section {
  width: 200px;
}

span {
  text-align: end;
}
